<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Renderer</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="assets/main.js"></script>
</head>
<body>
    <div class="container mt-5">
        <form>
            <div class="mb-3">
                <label for="urlInput" class="form-label">Адрес страницы</label>
                <input type="text" class="form-control" id="urlInput">
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
        <div class="result"></div>
    </div>
</body>
</html>